$color-white: #FFFFFF;
$color-white2: #FFFFFFC9;
$color-black: #000000;
$color-black2: #1A1818;
$color-light-gray: #3C3C3C26;
$color-very-light-gray: #F0F1F1;
$color-gray: #707070;
$color-gray2: #737373;
$color-yellow: #FAD648;
$color-khaki: #5E5322;
$color-text: #3C3C3C;