.login {
    height: 20vh;
    width: 100%;
    display: flex;
    font-family: $font-base;
    padding-right: 142px;
    &__image {
        height: 20vh;
        width: 45vw;
    }
    &__components {
        width: 50vw;
        height: 20vh;
    }
    &__login {
        display: flex;
        justify-content: flex-end;
        padding: 37px 0 0 0;
        color: $color-gray2;
        &-btn {
            width: 90px;
            height: 36px;
            font-size: 13px;
            border: 0;
            background-color: transparent;
        }
        &-btn:hover {
            border: 0.75px solid $color-yellow;
        }
    }
    &__menu {
        width: 50vw;
        padding: 17px 0 0 8px;
        display: flex;
        margin-right: 8px;
        justify-content: flex-end;
    }
    &__menu-list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 683px;
        height: 42px;
    }
    &__menu-list-item {
        padding: 9px 20px;
        cursor: pointer;
    }
    &__menu-list-item:hover {
        border: 0.75px solid $color-text;
        padding: 8px 19px;
    }
    &__title {
        text-align: center;
        font-size: 40px;
        color: $color-text;
        height: 55px;
        margin-top: calc(265px - 188px);
    }
    &__logo {
        width: 253px;
        height: 33px;
        margin: 25px auto;
        background: url('../../assets/Decoration.svg');
    }
    &__data {
        width: 385px;
        height: 235px;
        margin: 60px auto 53px;
        background-color: $color-very-light-gray;
    }
    &__buttons {
        width: 504px;
        height: 50px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }
    &__btn {
        width: 117px;
        height: 50px;
        background-color: transparent;
        border: 0;
    }
    &__btn:hover {
        border: 0.75px solid $color-text;
    }
    &__btn-style {
        font-weight: 300;
        font-size: 18px;
        font-family: $font-base;
    }
    &__data-input-mail {
        width: 250px;
        height: 52px;
        background-color: transparent;
        border: 0;
        margin: 40px 67.25px 31px;
        border-bottom: 1px solid $color-text;
    }
    &__data-input-mail::placeholder {
        color: $color-text;
        width: 42px;
        height: 22px;
        font-weight: 600;
    }
    &__data-input-passwd::placeholder {
        color: $color-text;
        width: 42px;
        height: 22px;
        font-weight: 600;
    }
    &__data-input-passwd {
        width: 250px;
        height: 52px;
        background-color: transparent;
        border: 0;
        margin: 0 67.25px;
        border-bottom: 1px solid $color-text;
    }
}