.whoweare {
    width: 1344px;
    height: 938px;
    margin: 0 auto;
    &__title {
        text-align: center;
        font-size: 38px;
        color: $color-text;
        height: 52px;
        padding-top: 70px;
    }
    &__logo {
        width: 253px;
        height: 33px;
        margin: 25px auto 50px;
        background: url('../../assets/Decoration.svg');
    }
    &__components-title {
        width: 750px;
        height: 79px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }
    &__component {
        width: 250px;
        height: 100%;
        text-align: center;
        font-size: 24px;
        color: $color-text;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    &__component:hover {
        border: 0.75px solid $color-text;
        width: 248px;
        height: 99%;
    }
    &__paragraph {
        width: 640px;
        height: 94px;
        text-align: center;
        font-size: 22px;
        color: $color-text;
        margin: 70px auto 0;
    }
}