.whoweare {
    width: 1344px;
    height: 938px;
    margin: 0 auto;
    &__title {
        text-align: center;
        font-size: 38px;
        color: $color-text;
        height: 52px;
        padding-top: 70px;
    }
    &__logo {
        width: 253px;
        height: 33px;
        margin: 25px auto 50px;
        background: url('../../assets/Decoration.svg');
    }
    &__components-title {
        width: 750px;
        height: 79px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }
    &__component {
        width: 250px;
        height: 100%;
        text-align: center;
        font-size: 24px;
        color: $color-text;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    &__component:hover {
        border: 0.75px solid $color-text;
        width: 248px;
        height: 99%;
    }
    &__paragraph {
        width: 640px;
        height: 94px;
        text-align: center;
        font-size: 22px;
        color: $color-text;
        margin: 70px auto 0;
        line-height: 30px;
    }
    &__components-info {
        width: 1344px;
        height: 277px;
    }
    &__component-info {
        width: 100%;
        height: 81px;
        display: flex;
        justify-content: space-between;
        margin-top: 34px;
        border-bottom: 1px solid $color-gray;
    }
    &__component-info:nth-child(3) {
        border-bottom: 0;
    }
    &__component-info-left {
        width: 600px;
        height: 50px;
    }
    &__component-info-left-title {
        font-size: 26px;
        color: $color-text;
    }
    &__component-info-left-text {
        font-size: 18px;
        color: $color-text;
        margin-top: 6px;
    }
    &__component-info-right {
        font-size: 18px;
        color: $color-text;
        margin: 15px 37px 0 0;
    }
    &__buttons {
        width: 155px;
        height: 50px;
        margin: 63px auto 0;
        display: flex;
        justify-content: space-between;
    }
    &__btn {
        width: 40px;
        background-color: transparent;
        border: 0;
    }
    &__btn:hover {
        border: 0.75px solid $color-text;
    }
}